.fondo{
    width: 1440px;
    height: 4038px;
    margin: 0 auto;
    background-color: #FFFFFF;
}

main{
    height: 3524px;
}

.menu{
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.logoTexto{
    display: flex;
    gap: 12px;
}

.logoTexto h5{
    width: 52px;
    height: 24px;
    font-family: "Poppins", serif;
    font-weight: 600;
    font-size: 21.33px;
    line-height: 24px;
    text-align: center;
    color: #285E67;
}

.opciones ul{
    display: flex;
    gap: 40px;
}

.opciones ul a{
    width: 66px;
    height: 24px;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #2B2B2B;
    text-decoration: none;
}

.opciones ul li{
    list-style: none;
}

.tituloDescripcion{
    height: 123px;
    gap: 17px;
}

.tituloDescripcion h1{
  width: 100%;
  height: 82px;
  font-family: "Poppins", serif;
  font-weight: 600;
  font-size: 65.34px;
  line-height: 82px;
  text-align: center;
}

.tituloDescripcion p{
    width: 100%;
    height: 24px;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.botonImagenes{
    margin-top: 66px;
}

.botonImagenes button{
    width: 251px;
    height: 56px;
    border: none;
    background-color: #285E67;
    border-radius: 67px;
    padding: 16px;
    gap: 16px;
    color: #FFFFFF;
    font-family: "Poppins", serif;
    font-weight: 600;
    font-size: 21.33px;
    line-height: 24px;
    text-align: center;
    margin-left: 594.5px;
}

.botonImagenes button:hover{
    cursor: pointer;
}

.botonImagenes .imagenes{
    display: flex;
    gap: 48px;
    margin-left: 70px;
    margin-top: 58px;
}

.wellbeingWelldoing{
    margin-left: 70px;
    margin-top: 104px;
    width: 1300px;
    height: 446px;
    border: none;
    border-radius: 12px;
    padding-right: 112px;
    padding-left: 112px;
    gap: 5px;
    background-color: #F4F4F4;
}

.wellbeingWelldoing .texto{
    position: absolute;
    width: 589px;
    height: 342.54px;
    margin-left: 112px;
    margin-top: 51.73px;
    float: left;
}

.wellbeingWelldoing .texto h2{
    width: 589px;
    height: 46px;
    font-family: "Poppins", serif;
    font-weight: 600;
    font-size: 50.52px;
    line-height: 62px;
    color: #2B2B2B;
}

.wellbeingWelldoing .texto .tablas{
    display: flex;
    gap: 69px;
}

.wellbeingWelldoing .texto .imagenTexto{
    width: 260px;
    height: 187.54px;
    gap: 20px;
}

.wellbeingWelldoing .texto .tablas .imagenTexto .img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 58px;
    height: 57px;
    border: none;
    border-radius: 9px;
    padding: 14px 16px;
    gap: 16px;
    background-color: #285E67;
} 

.wellbeingWelldoing .texto .tablas .imagenTexto .img img{
    width: 26px;
    height: 29px;
}

.wellbeingWelldoing .texto .tablas .imagenTexto p{
    width: 260px;
    height: 110.54px;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #2B2B2B;
}

.wellbeingWelldoing .imagen{
    float: right;
    width: 651px;
    height: 512px;
}

.wellbeingWelldoing .imagen img{
    margin-left: 156px;
}

.freshOrganicProduce{
    width: 1300px;
    height: 578px;
    margin-left: 70px;
    margin-top: 104px;
}

.freshOrganicProduce .imagenIzquierda{
    float: left;
    gap: 53px;
}

.freshOrganicProduce .tituloTextoLogos{
    float: right;
}

.freshOrganicProduce .tituloTextoLogos .tituloDescripcion2{
    width: 623.5px;
    height: 578px;
    border: none;
    border-radius: 16px;
}

.freshOrganicProduce .tituloTextoLogos .tituloDescripcion2 h2{
   width: 623.5px;
   height: 116px;
   font-family: "Poppins", serif;
   font-weight: 600;
   font-size: 50.52px;
   line-height: 62px;
}

.freshOrganicProduce .tituloTextoLogos .tituloDescripcion2 p{
    width: 623.5px;
    height: 83px;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-top: -70px;
}

.Logos{
    margin-top: -395px;
}

.freshOrganicProduce .tituloTextoLogos .logoTexto2{
    display: flex;
    gap: 23px;
    margin-top: 30px;
}

.freshOrganicProduce .tituloTextoLogos .logoTexto2 .logoImagen{
    width: 52px;
    height: 52px;
    border: 2px solid #285E67;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.freshOrganicProduce .tituloTextoLogos .logoTexto2 p{
    width: 548.5px;
    height: 52px;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #2B2B2B;
}

.eat{
    width: 1300px;
    height: 541px;
    border: none;
    border-radius: 12px;
    padding: 56px 110px 56px 114px;
    gap: 237px;
    background-color: #F4F4F4;
    margin-left: 70px;
    margin-top: 104px;
}

.eat .imagenIzquierda{
    float: left;
}

.eat .imagenIzquierda img{
    width: 350px;
    height: 347.5px;
    margin-top: 81px;
}

.eat .textoDerechaLogos{
    float: right;
    position: relative;
    left: -200px;
    top: 56px;
}

.eat .textoDerechaLogos .tituloH2{
   width: 543px;
   height: 99px;
   padding-top: 48px;
   gap: 16px;
}

.eat .textoDerechaLogos .tituloH2 h2{
   width: 543px;
   height: 30px;
   font-family: "Poppins", serif;
   font-weight: 600;
   font-size: 50.52px;
   line-height: 30px;
   color: #2B2B2B;
}

.eat .textoDerechaLogos .tablas{
    display: flex;
    margin-top: 41px;
}

.eat .textoDerechaLogos .tablas .imagenTexto{
    width: 260px;
    height: 187.54px;
    gap: 20px;
}

.eat .textoDerechaLogos .tablas .imagenTexto .img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 58px;
    height: 57px;
    border: none;
    border-radius: 9px;
    padding: 14px 16px;
    gap: 16px;
    background-color: #EBBFAE;
} 

.eat .textoDerechaLogos .tablas .imagenTexto .img img{
    width: 26px;
    height: 29px;
    color: #2A2A2A;
}

.eat .textoDerechaLogos .tablas .imagenTexto p{
    width: 260px;
    height: 110.54px;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #2B2B2B;
}

.wellbeingStarts{
    background-image: url(img/fondoSection.svg);
    width: 1500px;
    height: 667px;
    margin-left: 70px;
    margin-top: 104px;
}

.wellbeingStarts .logoTituloTextoBoton{
    position: relative;
    width: 650px;
    height: 340px;
    gap: 45px;
    top: 160px;
    left: 425px;
}

.wellbeingStarts .logoTituloTextoBoton .bordeLogo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 92.12px;
    height: 82.06px;
    margin-top: 50px;
    margin-left: 278.94px;
    border: 2px solid #FFFFFF;
    border-radius: 9px;
}

.wellbeingStarts .logoTituloTextoBoton .bordeLogo img{
    width: 44px;
    height: 47.89px;
}

.wellbeingStarts .logoTituloTextoBoton .tituloTextoBoton{
    width: 650px;
    height: 190px;
    gap: 28px;
    margin-top: 50px;
}

.wellbeingStarts .logoTituloTextoBoton .tituloTextoBoton .tituloTexto2{
    width: 650px;
    height: 106px;
    gap: 12px;
}

.wellbeingStarts .logoTituloTextoBoton .tituloTextoBoton .tituloTexto2 h3{
    width: 640px;
    height: 44px;
    font-family: "Poppins", serif;
    font-weight: 600;
    font-size: 37.9px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}

.wellbeingStarts .logoTituloTextoBoton .tituloTextoBoton .tituloTexto2 p{
    width: 650px;
    height: 50px;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.wellbeingStarts .logoTituloTextoBoton .tituloTextoBoton button{
    width: 257px;
    height: 56px;
    border: 1px solid #f4f4f4;
    border-radius: 67px;
    position: relative;
    top: 50px;
    background-color: transparent;
    color: #FFFFFF;
    font-family: "Poppins", serif;
    font-weight: 600;
    font-size: 21.33px;
    line-height: 24px;
    text-align: center;
    margin-left: 196.5px;
}

.wellbeingStarts .logoTituloTextoBoton .tituloTextoBoton button:hover{
    cursor: pointer;
}

.porEncima{
    position: relative;
    top: -100px;
    background-color: #FCE2D7;
    margin-left: 137.5px;
    width: 1350px;
    height: 356px;
    border: none;
    border-radius: 12px;
}

.porEncima .logoTextoRedondo{
    position: relative;
    display: flex;
    gap: 17px;
    width: 1033px;
    height: 118px;
    top: 119px;
    left: 200px;
}

.LogoTexto3{
    width: 245px;
    height: 118px;
}

.LogoTexto3 .logoRedondo{
    border: 2px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 82px;
    height: 82px;
    margin-left: 80px;
}

.LogoTexto3 p{
    width: 245px;
    height: 25px;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: 21.33px;
    line-height: 24px;
    text-align: center;
}

footer{
    width: 1500px;
    height: 242px;
    background-color: #285E67;
    margin-top: 300px;
    margin-left: 70px;
}

footer .menu{
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

footer .logoTexto{
    display: flex;
    gap: 12px;
    margin-top: 78px;
    margin-left: 139px;
    width: 100px;
}

footer .logoTexto h5{
    width: 52px;
    height: 24px;
    font-family: "Poppins", serif;
    font-weight: 600;
    font-size: 21.33px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}


footer .opciones{
    margin-right: 139px;
    margin-top: 80px;
}

footer .opciones ul{
    display: flex;
    gap: 40px;
}

footer .opciones ul a{
    width: 66px;
    height: 24px;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
}

footer .opciones ul li{
    list-style: none;
}

footer .redes{
    display: flex;
    gap: 24px;
    margin-left: 139px;
}

footer .redes img{
    width: 22px;
    height: 19.07px;
}